@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	max-width: 540px;
	@apply lg:max-w-[1140px] md:max-w-[980px] sm:max-w-[720px];
}

.wrapper {
	@apply pt-[50px] pb-[60px];
}

.menu-bar {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	transform-origin: top;
	z-index: 5;
	transition: 0.5s;
}

.icon {
	@apply w-[40px] h-[40px] rounded-md bg-white-300 dark:bg-gray-600 flex justify-center items-center;
}

.infoDiv {
	@apply py-[10px] flex gap-[10px] items-center;

	h5 {
		display: flex;
		font-size: 12px;
		line-height: 18px;
		text-transform: capitalize;
		font-weight: 400;
		margin-bottom: 3px;
		@apply dark:text-gray-400;
	}
	p {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		/* text-transform: capitalize; */
		@apply text-black dark:text-white-100  md:text-[14px];
	}

	> span {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 8px;
		text-align: center;
		line-height: 44px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
		transition: 0.3s;
		@apply bg-white-100 hover:bg-cyan dark:bg-black dark:hover:bg-cyan;
	}
}

.border {
	border: 1px solid transparent;

	@apply hover:border-cyan;
}

.part-wrapper {
	@apply px-5 sm:px-10 md:px-14;
}

.line::after {
	content: "";
	position: absolute;
	height: 3px;
	width: 40%;
	@apply sm:w-[70%] md:w-[200px];
	@apply bg-cyan;
	top: 50%;
	left: 120%;
	border-radius: 5px;
}

.paragraph {
	@apply font-poppin text-gray-300 dark:text-gray-400 leading-7;
}

.card {
	@apply px-5 pt-5 pb-4 rounded-2xl dark:border-[1px] dark:border-gray-650 dark:bg-transparent;
}

.tag {
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	border-radius: 8px;
	padding: 5px 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	@apply bg-[#edf2f2] dark:bg-gray-700 text-gray-300 dark:text-gray-400;
}

.subTitle {
	@apply font-poppin text-2xl font-medium text-black dark:text-white-100 mb-2;
}

.filter {
	@apply font-poppin inline-block font-medium cursor-pointer px-[18px] text-gray-300 dark:text-gray-400 hover:text-cyan dark:hover:text-cyan duration-500 transition-all;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 9;
}
.lock-screen {
	overflow: hidden;
}

.modal {
	z-index: 10;
	position: absolute;
	margin: auto;
}

.scroll-model::-webkit-scrollbar-thumb {
	@apply bg-gray-400 h-[60%] rounded-xl;
}

.scroll-model::-webkit-scrollbar-track {
	@apply bg-white-500 rounded-xl;
}

.scroll-model::-webkit-scrollbar {
	width: 10px;
}

.flex-half {
	flex: 0 1 calc(50% - 20px);
}

.border-input {
	display: block;
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid #b5b5b5;
	background: transparent;
	height: 15px;
	transition: 0.3s;
	transform-origin: top;
	font-size: 14px;
	padding: 1px 2px;
	@apply text-black dark:text-white-100 font-poppin;
}

.active {
	@apply !bg-cyan  !text-white-100  dark:!bg-cyan  dark:!text-white-100;
}

.active * {
	@apply !fill-white-100 dark:!fill-white-100;
}

.active-text {
	@apply !text-cyan dark:!text-cyan;
}

.active-text * {
	@apply !fill-cyan dark:!fill-cyan;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	@apply border-input;
}
